<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="" content="">
    <meta name="description" content="">
    <meta name="keywords" content="Internet, hastighet, testning, fiber, botnet ">
    <meta name="author" content="Sebastian Lagerblad">
    <title>SpeedPi - Resistance is futile</title>
    
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
    <script type="text/javascript" src="js/scripts.js"></script>
</head>

<body>
    <div id="wrapper">
        <header>
            <span class="button button-login">Logga In</span>
            <img class="center-image frontpage-logo" src="img/Logga.png" alt="SpeedPi logga">
                <h1 class="site-title site-title-header">Speed<span class="f-c-1">Pi</span></h1>
            
        </header>
        <div class="content-wrap"> <!-- Full content wrap -->
        
            <div class="content-wrap-1"> <!-- Description content wrap -->
                <section class="double-content"> <!-- Informative text -->
                    </br>
                    <h1>SpeedPi</h1>
                    <br/>
                    <p>SpeedPi är ett passivt mätverktyg som hjälper dig skaffa statistik och analysera din internetförbindelse. Vad betyder passivt? Vi mäter er uppladdningshastighet, nedladdningshastighet, ping och mer utan att ni behöver göra någonting. Vi jämför er anslutning med andras och bedömer om den är bra eller dålig.
                        
                    </p>    
                    <p>
                    </br>
                    SpeedPi är optimerat för din förening eller (kollektiv av hus?) som inte är säkra på att dem får vad de betalar för.
                    </p>
                    <br/>
                    <span class="button button-type-2 button-margin"><a href="kontakt.html">Våra tjänster</a></span>
                     
                </section>
                <section class="double-content"> <!-- Graph -->
                          <iframe src="http://10.50.0.21:5601/app/kibana#/visualize/edit/Sebbe-test?embed=true&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-24h,mode:quick,to:now))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(vis:(legendOpen:!f)),vis:(aggs:!((enabled:!t,id:'1',params:(field:download),schema:metric,type:avg),(enabled:!t,id:'2',params:(customInterval:'2h',extended_bounds:(),field:'@timestamp',interval:auto,min_doc_count:1),schema:segment,type:date_histogram),(enabled:!t,id:'3',params:(field:upload),schema:metric,type:avg)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!f,defaultYExtents:!t,interpolate:linear,legendPosition:right,mode:stacked,scale:linear,setYExtents:!f,shareYAxis:!t,smoothLines:!f,times:!(),yAxis:()),title:'Sebbe+test',type:area))"></iframe>
                </section>
            </div>
                                <div class="separation-line">  <!-- LINE -->
                                </div> <!-- LINE -->
         
                <div class="content-wrap-1"> <!-- Content-wrap 2 -->
                <div class="single-content"> <!-- single col -->
                    </br>
                    <h1 style="text-align: center;">Det är lätt!</h1>
                    </br>
                    <p style="text-align: center;">SpeedPi är lätt att installera och använda. Du behöver<br> endast göra en sak kontakta oss så fixar vi resten. Sedan kan<br> du se all nödvändig data i vår Dashboard. </p>
                    </br>
                    <span class="button button-type-2 button-margin">Läs mer</span>
                    </br>
                </div>
                </div> <!-- Content-wrap 2 -->

               <div class="content-wrap-2"> <!-- Content-wrap 2 -->
                <div class="single-content"> <!-- single col -->
                    </br>
                    <h1 style="text-align: center;">Vår Teknologi</h1>
                    </br>
                    <p style="text-align: center;">SpeedPi testar din anslutning till internet kontinuerligt.<br />Vi samlar kontinuerligt mer data och jämnför din anslutning <br />med andras i området...</p>
                    </br>
                    <img class="center-image tech-image" src="img/Tech.png" alt="SpeedPi Tech">
                    </br>
                </div>
                </div> <!-- Content-wrap 2 -->
        </div>
        </div>
            <div class="backdrop-login"> <!-- BACKDROP -->
            <div class="login-module"> <!-- LOGIN WINDOW -->
                <form>
                    Username:<br>
                    <input type="text" name="username"><span>o Remember</span><br>
                    Password:<br>
                    <input type="password" name="password">
                    <span class="button button-type-1">Log in</span>
                    <p style="font-size: 0.8em;">Forgot your password?</p>
                </form>
            </div> <!-- LOGIN WINDOW -->
            </div> <!-- BACKDROP -->
        <footer> <!-- FOOTER -->
            <p style="text-align: center;">Copyright SpeedPi 2016</p>
        </footer>

    

     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
</body>

</html>
