<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="" content="">
    <meta name="description" content="">
    <meta name="keywords" content="Internet, hastighet, testning, fiber, botnet ">
    <meta name="author" content="Sebastian Lagerblad">
    <title>SpeedPi - Resistance is futile</title>
    
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
    <script type="text/javascript" src="js/scripts.js"></script>
</head>

<body>
    <div id="wrapper">
        <header>
            <span class="button button-login">Logga In</span>
            <img class="center-image frontpage-logo" src="img/Logga.png" alt="SpeedPi logga">
                <h1 class="site-title site-title-header">Speed<span class="f-c-1">Pi</span></h1>
            
        </header>

         
                <div class="content-wrap-1"> <!-- Content-wrap 2 -->
                <div class="single-content"> <!-- single col -->
                    </br>
                    <h1 style="text-align: center;">Våra tjänster</h1>
                    </br>
                    <p style="text-align: center;">SpeedPi är lätt att installera och använda. Du behöver endast göra en sak kontakta oss så fixar vi resten. Sedan kan du se all nödvändig data i vår Dashboard för att hyra en SpeedPi kontakta oss... </p>
                    </br>
                    <span class="button button-type-2 button-margin"><a href="index.html">Tillbaka till index</a></span>
                    </br>
                </div>
                </div> <!-- Content-wrap 2 -->

        </div>
        </div>
            <div class="backdrop-login"> <!-- BACKDROP -->
            <div class="login-module"> <!-- LOGIN WINDOW -->
                <form>
                    Username:<br>
                    <input type="text" name="username"><span>o Remember</span><br>
                    Password:<br>
                    <input type="password" name="password">
                    <span class="button button-type-1">Log in</span>
                    <p style="font-size: 0.8em;">Forgot your password?</p>
                </form>
            </div> <!-- LOGIN WINDOW -->
            </div> <!-- BACKDROP -->
        <footer> <!-- FOOTER -->
            <p style="text-align: center;">Copyright SpeedPi 2016</p>
        </footer>

    

     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
</body>

</html>
